.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding-bottom: 18px;
}

.left-header {
    margin-left: -20px;
}

.right-header {
    display:flex ;
    align-items: center;
    margin-right: -30px;
}

.right-header-p {
    font-size: 15px;
    margin-right: 35px;
    color:hsl(0, 2%, 38%);
    cursor: pointer;
}

.right-header-p:hover {
    cursor: pointer;
    color:hsl(5, 85%, 63%);
}





