.header {
    display: flex;
    justify-content: space-between;
    width: 61em;
}

.right-header {
    display:flex ;
    align-items: center;
}

.right-header-p {
    font-size: 15px;
    padding-left: 28px;
    color:hsl(0, 2%, 38%);
    cursor: pointer;
}

.right-header-p:hover {
    cursor: pointer;
    color:hsl(5, 85%, 63%);
}





